html {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
}

div.search_area {
  display:none;
}

div.search {
  width: 900px;
  /* margin: 20px auto 20px auto; */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

div.input_area {
  display: inline-block;
  width: 75%;
  padding-left: 50px;
  padding-bottom: 15px;
}

.input_search {
  width: 700px;
  height: 40px;
  font-size: 30px;
}

div.button_area {
  float: right;
  width: 15%;
}

button.search_button {
  width: 90px;
  height: 47px;
  font-size: 25px;
  background-color: #C2EEFF;
}

.list_area {
  height: 100px;
  width: 800px;
  background-color: white;
  margin: 20px auto 20px auto;
  padding: 15px 50px 0px 50px;
}

div.search_result {
  width: 900px;
  margin: 20px auto 20px auto;
}

div.search_result p {
  font-weight: bold;
  color: red;
}

.details_area {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.details_area label {
  display: inline-block;
  width: 70px;
}

.edit_area {
  width: 24%;
  display: inline-block;
  vertical-align: middle;
}

.status_area {
  width: 24%;
  display: inline-block;
  vertical-align: middle;
}

.edit_button {
  width: 180px;
  height: 80px;
  font-size: 30px;
  background-color: #CCFFCC;
}

.status_button {
  width: 180px;
  height: 80px;
  font-size: 30px;
}